<%- model_class = Profile -%>

<style type="text/css">
.socialLogos img{
  width: 200px;
  padding: 20px;
}

table{
  width: 50% !important;
  margin-left: 36px;

}

.socialNetworkTitle{
  display: none;
}
</style>

<div class="page-header">
  <h1>Account Settings</h1>
</div>

<% if @fb_profiles.count < 1 %>
    <%= link_to('Connect to Facebook', {:controller => 'clients/facebook_clients', :action => 'new'}) %>
<% else %>
    <p class="socialNetworkTitle">Connected Facebook pages</p>
    <div class="socialLogos">
      <img src="/assets/facebookLogo.png" />
    </div>
    <table class="table table-striped">
      <thead>

        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <% @fb_profiles.each do |fb_profile| %>
          <tr>
            <td><%= fb_profile.status %></td>
            <td><%= fb_profile.service_id %></td>
            <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_profile_path(fb_profile), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        profile_path(fb_profile),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if @fs_profiles.count < 1 %>
   <%= link_to('Connect to Foursquare', {:controller => 'clients/foursquare_clients', :action => 'new'}) %>
<% else %>
    <p class="socialNetworkTitle">Connected Foursquare Venues</p>
    <div class="socialLogos">
      <img src="/assets/foursquareLogo.png" />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>

        </tr>
      </thead>
      <tbody>

    <% @fs_profiles.each do |fs_profile| %>
     <tr>
        <td><%= fs_profile.status %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(fs_profile), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      profile_path(fs_profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
    </tr>
    <% end %>
    </tbody>
    </table>
<% end %>
<% if @tw_profiles.count < 1 %>
   <%= link_to('Connect to Twitter', {:controller => 'profiles', :action => 'new'}) %>
<% else %>
    <p class="socialNetworkTitle">Connected Twitter feeds</p>
    <div class="socialLogos">
      <img src="/assets/twitterLogo.png" />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>

    <% @tw_profiles.each do |tw_profile| %>
     <tr>
        <td><%= tw_profile.status %></td>
 
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(tw_profile), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      profile_path(tw_profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

        </td>
     
    </tr>
    <% end %>
    </tbody>
    </table>
   
<% end %>
<% if @ins_profiles.count < 1 %>
   <%= link_to('Connect to Instagram', {:controller => 'clients/instagram_clients', :action => 'new'}) %>
<% else %>
    <p class="socialNetworkTitle">Connected Instagram feed</p>
    <div class="socialLogos">
      <img src="/assets/instagramLogo.png" />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:service_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>

    <% @ins_profiles.each do |ins_profile| %>
     <tr>
        <td><%= ins_profile.status %></td>
        <td><%= ins_profile.service_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(ins_profile), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      profile_path(ins_profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

        </td>
     
    </tr>
    <% end %>
    </tbody>
    </table>
    <!-- <%= link_to('Connect to Instagram feed', {:controller => 'profiles', :action => 'new'}) %>-->
   
<% end %>
