<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if @fb_profiles.count < 1 %>
    <%= link_to('Connect to Facebook', {:controller => 'clients/facebook_clients', :action => 'new'}) %>
<% else %>
    <h2>Connected Facebook pages</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:service_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @fb_profiles.each do |fb_profile| %>
          <tr>
            <td><%= fb_profile.status %></td>
            <td><%= fb_profile.service_id %></td>
            <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_profile_path(fb_profile), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        profile_path(fb_profile),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if @tw_profiles.count < 1 %>
    <%= link_to('Connect to Twitter', {:controller => 'clients/facebook_clients', :action => 'new'}) %>
<% else %>
    <h2>Connected Twitter pages</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:service_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @tw_profiles.each do |tw_profile| %>
          <tr>
            <td><%= tw_profile.status %></td>
            <td><%= tw_profile.service_id %></td>
            <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_profile_path(tw_profile), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        profile_path(tw_profile),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if @fs_profiles.count < 1 %>
   <%= link_to('Connect to Foursquare', {:controller => 'clients/foursquare_clients', :action => 'new'}) %>
<% else %>
    <h2>Connected Foursquare Venues</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:service_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>

    <% @fs_profiles.each do |fs_profile| %>
     <tr>
        <td><%= fs_profile.status %></td>
        <td><%= fs_profile.service_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(fs_profile), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      profile_path(fs_profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
    </tr>
    <% end %>
    </tbody>
    </table>
<% end %>