<h1>Connected social profiles</h1>

<% if @fb_profiles.count < 1 %>
    <%= link_to('Connect to Facebook', {:controller => 'clients/facebook_clients', :action => 'new'}) %>
<% else %>
<h2>Connected Facebook pages</h2>
    <table>
      <tr>
        <th>Page</th>
        <th>Page ID</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @fb_profiles.each do |fb_profile| %>
      <tr>
        <td><%= fb_profile.status %></td>
        <td><%= fb_profile.user_id %></td>
        <td><%= link_to 'Show', fb_profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(fb_profile) %></td>
        <td><%= link_to 'Destroy', fb_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
<% end %>

<br />
<% if @fs_profiles.count < 1 %>
    <%= link_to('Connect to Foursquare', {:controller => 'clients/foursquare_clients', :action => 'new'}) %>
<% else %>
<h2>Connected Foursquare venues</h2>
    <table>
      <tr>
        <th>Token</th>
        <th>Address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @fs_profiles.each do |fs_profile| %>
      <tr>
        <td><%= fs_profile.token %></td>
        <td><%= fs_profile.address %></td>
        <td><%= link_to 'Show', fs_profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(fs_profile) %></td>
        <td><%= link_to 'Destroy', fs_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
<% end %>
