<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @profile.token %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Is active:</b>
  <%= @profile.is_active %>
</p>

<p>
  <b>Status:</b>
  <%= @profile.status %>
</p>
<p>
	<b>Page insights:</b>
	<%= @me.accounts[0].name %>
</p>
<p>
	<b>Page accounts:</b>
	<%= @me.accounts %>
</p>
<p>
	<% if @accounts.count > 0 %>
    <%      @accounts.each do |acc| %>
         <%=  acc.name %>
         <%= acc.access_token %>
         
        <%  end %>
        <% end %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
