<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @profile.token %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Is active:</b>
  <%= @profile.is_active %>
</p>

<p>
  <b>Status:</b>
  <%= @profile.status %>
</p>
<p>
	<b>Page insights:</b>
	<%= @me.accounts.inspect %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
