<%= form_for @attribute, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fs_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fs_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fs_is_active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :fs_is_active, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tw_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tw_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tw_is_active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :tw_is_active, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :keyword, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keyword, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    
  </div>
<% end %>
