<%= form_for @insight, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Page, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Page, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_fan_adds, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_fan_adds, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_views, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_views, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_engaged_users, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_engaged_users, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_places_checkins, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_places_checkins, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_posts_impressions, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_posts_impressions, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                insights_path, :class => 'btn' %>
  </div>
<% end %>
