<h1>Listing insights</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Page fan adds</th>
    <th>Page views</th>
    <th>Page engaged users</th>
    <th>Page places checkins</th>
    <th>Page posts impressions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insights.each do |insight| %>
  <tr>
    <td><%= insight.Page %></td>
    <td><%= insight.page_fan_adds %></td>
    <td><%= insight.page_views %></td>
    <td><%= insight.page_engaged_users %></td>
    <td><%= insight.page_places_checkins %></td>
    <td><%= insight.page_posts_impressions %></td>
    <td><%= link_to 'Show', insight %></td>
    <td><%= link_to 'Edit', edit_insight_path(insight) %></td>
    <td><%= link_to 'Destroy', insight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Insight', new_insight_path %>
