
<%- model_class = Checkin -%>
<div class="page-header">
  <h1>Social Check-ins</h1> <a href="/checkins"><img src="/assets/refresh.png" /></a>
</div>


<% @checkins.each do |checkin| %>
    <div class="checkIn <%= checkin.rm_service_id %>">
        <div class="profilePic">
          <img src="<%= checkin.user_photo %>" />
        </div><div class="profileContent">
          <ul>
            <li class="name"><img src="/assets/<%= checkin.rm_service_id %>.png" /><%= checkin.user_first_name %> <%= checkin.user_last_name %> <span class="addNote <%= checkin.id %>">Add Note</span></li>
            <li class="message">
              <a href="<%= checkin.rm_message_url %>" target="_blank">
                <%= checkin.post_text %>
              </a>
                <div class="time">
                  <%= checkin.created_at.strftime("- %m/%d/%Y")%>
                </div>
               
            
              <input type="hidden" id="checkinId" value="<%= checkin.id %>" />
              <!--<td><%= checkin.notes%></td> -->
             
              
            <form class="addNoteForm" id="edit_checkin_<%= checkin.id %>" action="/checkins/<%= checkin.id %>">
              <input type="textarea" name="checkin_notes" id="checkin_notes" />
              <input type="hidden" id="checkin_rm_user_id" value="<%= checkin.rm_user_id %>" />
              <input type="submit" value="Add Note" />
            </form>
          </ul>
        </div>
      </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
    
      <th><%= model_class.human_attribute_name(:name) %></th>
 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= link_to checkin.id, checkin_path(checkin) %></td>
        <td><%= checkin.rm_user_id %></td>
        <td><%= checkin.user_first_name %></td>
        <td><%= checkin.user_last_name %></td>
      
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_checkin_path(checkin), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      checkin_path(checkin),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.addNote').click(function(){
  checkinId = $(this).attr('class').split(" ")[1];

  $("#edit_checkin_"+checkinId).toggle();
  $("#edit_checkin_"+checkinId+" #checkin_notes").focus()

  /*
    $(form).on('submit', function(e) {
      e.preventDefault();
      var data = $(form).serialize()
      $post(
          url: "/checkins/#{id}",
          params: data,
          success: function(e) {
            // Show success, or embed the data into view
          }
        )
    })*/
});

</script>
